transactions ( txn_id, account_id, txn_date, merchant, category, amount ) 
accounts ( account_id, account_name, account_type )

06/02/2026

"Total spend per category, highest to lowest, positive amounts only."

SELECT category, SUM(amount)
FROM transactions
WHERE amounts > 0
GROUP BY category
ORDER BY SUM(amount) DESC


"Each account's name, type, and transaction count — include accounts with zero transactions."

SELECT a.account_id, a.account_name, a.account_type, COUNT(t.txn_id) AS txn_count
FROM accounts a
LEFT JOIN transactions t
ON a.account_id = t.account_id
GROUP BY a.account_id, a.account_name, a.account_type
ORDER BY txn_count DESC

"Each account's single largest transaction — account ID, merchant, amount, date. One row per account."

WITH ranked_txn AS (
    SELECT account_id, merchant, amount, txn_date,
             ROW_NUMBER() OVER (PARTITION BY account_id ORDER BY amount DESC) AS rn
    FROM transactions
)
SELECT account_id, merchant, amount, txn_date
FROM ranked_txn
WHERE rn = 1

06/03/2026

"For each account, show their total spend this month versus last month, side by side in one row. 
Only show accounts where this month's spend is higher than last month."

SELECT account_id,
	SUM(CASE WHEN DATE_TRUNC(txn_date, MONTH) = DATE_TRUNC(CURRENT_DATE, MONTH) THEN amount
	    ELSE 0 END) AS this_month_spend,
	SUM(CASE WHEN DATE_TRUNC(txn_date, MONTH) = DATE_TRUNC(DATE_SUB(CURRENT_DATE, INTERVAL 1 MONTH)) THEN amount
	    ELSE 0 END) AS last_month_spend
FROM transactions
GROUP BY account_id
HAVING this_month_spend > last_month_spend

06/04/2026

"From the transactions table, return the top 3 merchants by total spend for each category. 
Show category, merchant, total spend, and rank. Each category should show exactly 3 rows."

WITH category_merchant_spend AS (
    SELECT category, merchant, SUM(amount) AS total_spend,
    FROM transactions
    GROUP BY category, merchant
), ranked_merchants AS (
    SELECT category, merchant, total_spend,
           ROW_NUMBER() OVER (PARTITION BY category ORDER BY total_spend DESC) AS rn
    FROM category_merchant_spend
)  
SELECT category, merchant, total_spend, rn AS rank
FROM ranked_merchants
WHERE rn <= 3   
ORDER BY category, rank

